.Profile {
    display: flex;
    flex-direction: row;
}

.Repos {
    flex: 40%;
}

.Messages {
    grid-column: auto;
    flex: 40%;
}

.Bio {

}

.Name {
    /* display: flex;
    flex-direction: row; */

}

.Links {
    display: flex;
    flex-direction: row;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    max-width: 150px
}

.button {
    margin: 10px;
    padding: 5px;
    border-radius: 12px;
    color: white;
    background-color: green;
}